{% for competition in competitions %}
    {% if competition.titre %}
    <div class="small-12 medium-3 columns">
      <!-- Meteo -->
      <div class="row teamstl-meteo">
        <div class="columns">
          <div id="cont_OTg3Nzl8NXwxfDF8NHxGRkZGRkZ8NnxGRkZGRkZ8Y3wx"><div id="spa_OTg3Nzl8NXwxfDF8NHxGRkZGRkZ8NnxGRkZGRkZ8Y3wx"><a id="a_OTg3Nzl8NXwxfDF8NHxGRkZGRkZ8NnxGRkZGRkZ8Y3wx" href="http://www.meteocity.com/cote-d-ivoire/yamoussoukro_v98779/" target="_blank" style="color:#333;text-decoration:none;">Météo Yamoussoukro</a> ©<a href="http://www.meteocity.com">meteocity.com</a></div><script type="text/javascript" src="http://widget.meteocity.com/js/OTg3Nzl8NXwxfDF8NHxGRkZGRkZ8NnxGRkZGRkZ8Y3wx"></script></div>
        </div>
      </div>
      <!-- \Meteo -->
      <!-- Photos -->
      <div class="row teamstl-photos">
        <div class="small-12 columns">
          <div class="titre">
            Facebook
          </div>
          <div class="row">
            <div class="small-12 columns">
              <div class="facebook">

                        <div class="fb-page" data-href="https://www.facebook.com/golfacademyTeamSTL/" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true">
                            <div class="fb-xfbml-parse-ignore">
                                <blockquote cite="https://www.facebook.com/golfacademyTeamSTL/">
                                    <a href="https://www.facebook.com/golfacademyTeamSTL/">TEAM STL</a>
                                </blockquote>
                            </div>
                        </div>

                    </div>
            </div>
          </div>
        </div>
      </div>
      <!-- \Photos -->
    </div>
    {% endif %}
{% endfor %}
